.conference-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conference-area__call-notice {
    margin-top: 5px;
    margin-bottom: 5px;
}

.conference-area__conference {
    flex-grow: 1;
}

.conference-area__controls {
    margin-top: 10px;
    margin-bottom: 10px;
}

.conference-area__me {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
