.conference-area {
    display: grid;
    grid-template-columns: repeat(3, [col] 1fr);
    grid-template-rows:
            [hotice-row] 50px
            [conference-row] 1fr
            [controls-row] 50px [row-end];
    grid-gap: 10px;
}

.conference-area__call-notice {
    grid-column: col 2;
    grid-row: hotice-row;
}

.conference-area__conference {
    grid-column: col / col-end;
    grid-row: conference-row;
}

.conference-area__controls {
    grid-column: col 2;
    grid-row: controls-row;
    justify-self: center;
}

.conference-area__controls_size_content {
    width: min-content;
}

.conference-area__me {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
