.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_theme_blue {
    color: white;
    background-color: #3399CC;
}

.button__icon {
}

.button__title {
    margin-left: 8px;
    margin-right: 8px;
}