.title {
    display: flex;
    align-items: center;
    font-family: Arial, serif;
}

.title_italic {
    font-style: italic;
}

.title_bold {
    font-weight: bold;
}

.title_size_10px {
    font-size: 10px;
}

.title_size_12px {
    font-size: 12px;
}

.title_size_14px {
    font-size: 14px;
}

.title_size_16px {
    font-size: 16px;
}

.title_size_20px {
    font-size: 20px;
}

.title_color_black {
    color: black;
}