.connection {
    max-height: 350px;
}

.connection_theme_blue {
    background-color: #35b6cc;
}

.connection__name {
    display: flex;
    align-items: center;
    position: relative;
    top: -19px;
}

.connection__name_theme_blue {
    padding-right: 5px;
    padding-left: 5px;
    opacity: 0.8;
    color: white;
    background-color: #3399CC;
}

.connection__name_size_12px {
    font-size: 12px;
}

.connection__about {
    width: 100%;
}