.controls {
    display: flex;
}

.controls__button {
    flex-grow: 1;
}

.controls__button_fat {
    margin-right: 4px;
    margin-left: 4px;
}

.controls__button_lined_right {
    border-right: 2px solid white;
}